/* hide scroll bar and give the page some min-width */
html
  overflow-y: auto

/* make some components have transparent background */
.transparent-bg
  background-color: transparent!important
  box-shadow: initial

/* enforce word wrap in titles */
.tagline, .v-card__title
  word-break: normal!important

/* give the table elements some horizontal padding */
ul li
  margin: 15px